In [1]:
import pandas as pd

# Data Import

In [2]:
df = pd.read_csv("PBP/1016OklahomaCityGoldenState.csv", index_col=0)
df

,Time,Away,Score,Home
0,11:48.0,NaN,0-0,Turnover by K. Thompson (bad pass; steal by S....
1,11:43.0,Turnover by P. George (bad pass),0-0,NaN
2,11:31.0,NaN,0-3,S. Curry makes 3-pt jump shot from 24 ft (assi...
3,11:13.0,S. Adams misses 2-pt jump shot from 12 ft,0-3,NaN
4,11:11.0,Offensive rebound by D. Schröder,0-3,NaN
...,...,...,...,...
519,0:06.0,Personal foul by D. Green (drawn by P. George),99-108,NaN
520,0:06.0,P. George misses free throw 1 of 2,99-108,NaN
521,0:06.0,Offensive rebound by Team,99-108,NaN
522,0:06.0,P. George makes free throw 2 of 2,100-108,NaN
523,0:00.0,End of 4th quarter,End of 4th quarter,End of 4th quarter

# Data Exploration

In [3]:
subs = df.loc[df.Home.str.contains("enters the game", na=False) | df.Away.str.contains("enters the game", na=False)]
subs

,Time,Away,Score,Home
52,6:41.0,NaN,11-16,K. Looney enters the game for D. Green
79,4:34.0,Á. Abrines enters the game for T. Ferguson,16-20,NaN
80,4:34.0,J. Grant enters the game for P. Patterson,16-20,NaN
82,4:34.0,NaN,16-20,D. Green enters the game for D. Jones
83,4:34.0,NaN,16-20,A. Iguodala enters the game for K. Thompson
103,2:23.0,R. Felton enters the game for S. Adams,19-29,NaN
104,2:23.0,N. Noel enters the game for D. Schröder,19-29,NaN
105,2:23.0,NaN,19-29,Q. Cook enters the game for S. Curry
158,9:03.0,NaN,29-37,J. Bell enters the game for D. Green
165,8:36.0,S. Adams enters the game for R. Felton,29-39,NaN
166,8:36.0,D. Schröder enters the game for N. Noel,29-39,NaN
181,7:34.0,P. George enters the game for H. Diallo,36-41,NaN
182,7:34.0,NaN,36-41,S. Curry enters the game for J. Bell
183,7:34.0,NaN,36-41,K. Looney enters the game for Q. Cook
199,6:11.0,NaN,37-43,K. Durant enters the game for A. Iguodala
200,6:11.0,NaN,37-43,D. Green enters the game for K. Thompson
214,4:48.0,T. Ferguson enters the game for Á. Abrines,39-48,NaN
215,4:48.0,P. Patterson enters the game for J. Grant,39-48,NaN
217,4:35.0,NaN,39-48,D. Jones enters the game for S. Livingston
218,4:35.0,NaN,39-48,K. Thompson enters the game for K. Looney
242,2:21.0,NaN,42-53,A. McKinnie enters the game for K. Thompson
247,1:59.0,Á. Abrines enters the game for P. George,42-54,NaN
251,1:31.0,R. Felton enters the game for D. Schröder,44-55,NaN
262,0:23.0,NaN,47-57,Q. Cook enters the game for S. Curry
306,7:16.0,NaN,69-66,K. Looney enters the game for D. Green
316,5:45.0,J. Grant enters the game for P. Patterson,71-72,NaN
332,4:30.0,NaN,71-75,D. Green enters the game for D. Jones
333,4:30.0,NaN,71-75,S. Livingston enters the game for K. Thompson
341,4:08.0,NaN,72-75,D. Jones enters the game for K. Looney
354,2:42.0,R. Felton enters the game for S. Adams,75-75,NaN
355,2:42.0,N. Noel enters the game for D. Schröder,75-75,NaN
362,2:06.0,Á. Abrines enters the game for T. Ferguson,75-79,NaN
363,2:06.0,NaN,75-79,Q. Cook enters the game for K. Durant
372,0:59.0,NaN,76-81,J. Bell enters the game for D. Jones
416,9:21.0,NaN,86-87,K. Durant enters the game for S. Livingston
434,8:05.0,S. Adams enters the game for H. Diallo,87-89,NaN
435,8:05.0,P. George enters the game for R. Felton,87-89,NaN
436,8:05.0,D. Schröder enters the game for N. Noel,87-89,NaN
437,8:05.0,NaN,87-89,S. Curry enters the game for J. Bell
438,8:05.0,NaN,87-89,K. Looney enters the game for Q. Cook
460,5:50.0,NaN,91-95,D. Jones enters the game for J. Jerebko
470,4:30.0,T. Ferguson enters the game for Á. Abrines,91-97,NaN
471,4:30.0,NaN,91-97,D. Green enters the game for K. Looney
499,1:57.0,NaN,96-99,K. Looney enters the game for D. Jones
512,0:24.0,Á. Abrines enters the game for T. Ferguson,99-106,NaN
513,0:24.0,P. Patterson enters the game for J. Grant,99-106,NaN

# Identify Substitutions

In [4]:
toDrop = []
for i, j in enumerate(subs.iterrows()):
    ix, r = j
    
    if i != 0:
        time = r["Time"]
        prevTime = subs.iloc[i-1]["Time"]
        
        if time == prevTime:
            toDrop.append(ix)

toDrop

[80,
 82,
 83,
 104,
 105,
 166,
 182,
 183,
 200,
 215,
 218,
 333,
 355,
 363,
 435,
 436,
 437,
 438,
 471,
 513]

In [7]:
subMoments = subs.drop(toDrop).index
subMoments

Int64Index([ 52,  79, 103, 158, 165, 181, 199, 214, 217, 242, 247, 251, 262,
            306, 316, 332, 341, 354, 362, 372, 416, 434, 460, 470, 499, 512],
           dtype='int64')

# Get GameSegments Dataframe

In [8]:
# each row is one GS
# columns: length, score, awayLineupId, homeLineupId